<%- include("partials/header", { title: "Uploaded Image" }) %>

    <h2>Uploaded Image</h2>

    <% if (error) { %>
        <p style="color: red;">
            <%= error %>
        </p>
        <% } else { %>
            <p>Uploaded successfully
            </p>
            <img src="data:image/jpeg;base64,<%= image_data %>" alt="Uploaded Image"
                style="max-width: 300px; border: 1px solid #ccc; padding: 5px; border-radius: 5px;" />
            <p> <a href="/gallery" target="_blank">
                    View Caption In Gallery
                </a></p>

            <% } %>

                <br />
                <a href="/">Upload Another Image</a>

                <%- include("partials/footer") %>